In [1]:
import pandas as pd
from pandasql import sqldf
from pandasql import load_births

births = load_births()

type(births)

pandas.core.frame.DataFrame

In [2]:
print(births.dtypes)

date      datetime64[ns]
births             int64
dtype: object

In [3]:
print(sqldf("SELECT * FROM births limit 5;"))

                         date  births
0  1975-01-01 00:00:00.000000  265775
1  1975-02-01 00:00:00.000000  241045
2  1975-03-01 00:00:00.000000  268849
3  1975-04-01 00:00:00.000000  247455
4  1975-05-01 00:00:00.000000  254545

In [4]:
print(births.head())

        date  births
0 1975-01-01  265775
1 1975-02-01  241045
2 1975-03-01  268849
3 1975-04-01  247455
4 1975-05-01  254545

In [5]:
q = """
      SELECT strftime('%Y', date) AS DOB, sum(births) as "Total Births"
      FROM births
      GROUP BY 1
      LIMIT 10;  
"""

print(sqldf(q))

    DOB  Total Births
0  1975       3136965
1  1976       6304156
2  1979       3333279
3  1982       3612258
4  1983       7333238
5  1986       7308074
6  1987       3760561
7  1988       3756547
8  1990       7718904
9  1991      11714356

In [22]:
df1 = sqldf(q)
type(df1)

pandas.core.frame.DataFrame

In [6]:
df2 = sqldf(q)
type(df2)

pandas.core.frame.DataFrame